/10__list and array practice
/11__packages
/12__file handling
/13__excepthon handling
/14__oops concepts
/15__recursion
/16__complexity anatlysis
/17__linkedlist
/18__stack
/19__queue
/20__tree
/21__BINAREY TREE
/22__BST
/23__Hashmap
/24__Graph
/25__Dynamic Programming
/26__python for data analysis
/27__data visualisation with python
/28__working with sqlite and python
/29__intro to multuitgreading with python
/30__logging in python
/31__intro to flask framework
/4__function
/5__pattern practice questions
/6__inbuild data structure practice problems
/7__maths practice problems
/8__string practice
/9__searching and sorting
/a.ipynb
/app.py